body {
  background: hsl(30, 38%, 92%);
  max-width: 1440px;
  font-family: Montserrat;
}

h1 {
  font-family: Fraunces;
  font-weight: 700;
  font-size: 30px;
}
p {
  color: #000;
  opacity: 0.5;
  font-size: 14px;
}
.smell {
  letter-spacing: 4px;
  font-size: 17px;
  padding: 30px auto;
}
.current {
  font-family: Fraunces;
  font-size: 28px;
  font-weight: bold;
  color: rgb(61, 130, 105);
}
.old {
  text-decoration: line-through;
  font-size: 12px;
  color: #000;
  opacity: 0.5;
}

.review-card {
  display: flex;
  align-items: center;
  padding: 10px auto;
  margin: 300px 450px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: white;
}

.product-image {
  width: 250px;
  height: 400px;
  margin-right: 15px;
}

.product-info {
  flex-grow: 1;
}

img {
  max-width: 100%;
  max-height: 100%;
}

button {
  display: block;
  background: rgb(61, 130, 105);
  margin: 20px 15px;
  padding: 12px 60px;
  border: 1px solid transparent;
  border-radius: 10px;
  font-size: 15px;
  color: white;
}
.icon {
  color: white;
  width: 10px;
}
